<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="teacher">
      <h2 data-cy="teacherDetailsHeading"><span jhiTranslate="gatewayApp.teacherserviceTeacher.detail.title">Teacher</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ teacher.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.teacherserviceTeacher.name">Name</span></dt>
        <dd>
          <span>{{ teacher.name }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.teacherserviceTeacher.birthday">Birthday</span></dt>
        <dd>
          <span>{{ teacher.birthday | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.teacherserviceTeacher.address">Address</span></dt>
        <dd>
          <span>{{ teacher.address }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.teacherserviceTeacher.email">Email</span></dt>
        <dd>
          <span>{{ teacher.email }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.teacherserviceTeacher.phone">Phone</span></dt>
        <dd>
          <span>{{ teacher.phone }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.teacherserviceTeacher.derpartment">Derpartment</span></dt>
        <dd>
          <span>{{ teacher.derpartment }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.teacherserviceTeacher.grade">Grade</span></dt>
        <dd>
          <span>{{ teacher.grade }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.teacherserviceTeacher.university">University</span></dt>
        <dd>
          <span>{{ teacher.university }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/teacher', teacher.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
