<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="student">
      <h2 data-cy="studentDetailsHeading"><span jhiTranslate="gatewayApp.studentserviceStudent.detail.title">Student</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ student.id }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.studentserviceStudent.studentCode">Student Code</span></dt>
        <dd>
          <span>{{ student.studentCode }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.studentserviceStudent.name">Name</span></dt>
        <dd>
          <span>{{ student.name }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.studentserviceStudent.birthday">Birthday</span></dt>
        <dd>
          <span>{{ student.birthday | formatMediumDate }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.studentserviceStudent.address">Address</span></dt>
        <dd>
          <span>{{ student.address }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.studentserviceStudent.email">Email</span></dt>
        <dd>
          <span>{{ student.email }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.studentserviceStudent.homePhone">Home Phone</span></dt>
        <dd>
          <span>{{ student.homePhone }}</span>
        </dd>
        <dt><span jhiTranslate="gatewayApp.studentserviceStudent.parentId">Parent Id</span></dt>
        <dd>
          <span>{{ student.parentId }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/student', student.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
